/* ===== ===== Блок css-переменных ===== ===== */
:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --top-section-bg-color: #2f303a;
  --team-section-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --logo-right-color: #000000;
  --logo-bottom-right-color: #ffffff;
  --primary-button-text-color: #ffffff;
  --primary-button-bg-color: #2196f3;
  --button-text-color: #212121;
  --button-bg-color: #f5f4fa;
  /* --hero-bg-color: #2f303a; */
  --hero-bg-color: #c4c4c4;
  --footer-bg-color: #2f303a;
  --header-line-color: #ececec;
  --project-item-border-color: #eeeeee;
  --icon-main-color: #a8b1b8;

  --header-item-right-margin: 50px;
  --header-top-margin: 24px;
  --header-bottom-margin: 25px;
  --logo-right-margin: 93px;

  --footer-top-bottom-padding: 60px;
  --footer-bottom-margin: 20px;
  --footer-item-margin: 9px;

  --container-width: 1200px;
  --container-gutter: 30px;
  --container-items: 1;
}

/* ===== ===== Глобальный сброс стилей некоторым тэгам ===== ===== */
p,
h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Класс для скрытия зазоров у элемента img */
.img-no-gap {
  display: block;
}

/* временный класс для скрытия элементов */
.hidden {
  display: none;
}

/* Класс для оформления основной страницы */
.page {
  background-color: var(--primary-bg-color);
  color: var(--main-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Класс для оформления заголовка */

.page-header {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--header-line-color);
  padding-top: var(--header-top-margin);
  padding-bottom: var(--header-bottom-margin);
}

/* Класс для оформления основного контейнера */

.container {
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
  padding: 0 calc(var(--container-gutter) / 2);
  /* для тестирования */
  /* outline: 1px dotted darkblue; */
}

/* Класс для оформления дизайна основного flexbox в header */

.header-set {
  display: flex;
  /* Для двух элементов (<nav> и <ul>) оставим space-between */
  justify-content: space-between;
  align-items: center;
}

.header-subset {
  display: flex;
  align-items: center;
}

/* Классы для оформления лого сайта */
.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo.r-margin {
  margin-right: var(--logo-right-margin);
}

.logo-right {
  color: var(--logo-right-color);
}

.logo-bottom {
  color: var(--logo-bottom-right-color);
}

/* ===== ===== Классы для оформления footer-секции ===== ===== */
.footer {
  background-color: var(--footer-bg-color);
  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--footer-top-bottom-padding);
  padding-bottom: var(--footer-top-bottom-padding);
}

.main-footer {
  display: flex;
}

.footer-center {
  padding-top: 48px;
  padding-left: 70px;
  /* outline: 1px dotted grey; */
}

.footer .top-margin {
  margin-top: var(--footer-bottom-margin);
}

.footer .text {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer .address {
  color: var(--primary-bg-color);
}

.footer .contacts {
  color: var(--footer-text-color);

  text-decoration: none;
  margin-top: var(--footer-item-margin);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .contacts:hover,
.footer .contacts:focus {
  color: var(--accent-color);
}

.join-us {
  display: flex;
  gap: 10px;
  position: relative;
}

.join-us::before {
  content: 'Присоединяйтесь';
  position: absolute;
  top: calc(-20px - 16px);
  left: 0;
  color: var(--primary-bg-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
}

.join-us .item {
  width: 44px;
  height: 44px;
}

.join-us .link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us .icon {
  width: 20px;
  height: 20px;
  fill: currentcolor;
}

.join-us .link:hover,
.join-us .link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.footer-right {
  /* outline: 1px dotted grey; */
  margin-left: 93px;
  padding-top: 12px;
}

.signup-form {
  display: flex;
  flex-direction: row;
  /* outline: 1px dotted grey; */
}

.signup-label {
  display: block;
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.signup-input {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  height: 50px;

  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  padding-left: 16px;
}

.signup-btn {
  margin-top: 36px;
  margin-left: 12px;
}

.signup-button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;

  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentcolor;
}

/* ===== ===== Стилизация навигации сайта ===== ===== */

.site-nav {
  display: flex;
}

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav > .list-item:not(:last-child) {
  margin-right: var(--header-item-right-margin);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

/* ===== ===== Стилизация контактов сайта ===== ===== */
.site-contacts {
  display: flex;
}

.site-contacts > .list-item {
  align-items: center;
}

.site-contacts > .list-item:not(:last-child) {
  margin-right: var(--header-item-right-margin);
}

.email-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentcolor;
}

.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentcolor;
}

.site-contacts .link {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стилизация ссылок для состояний hover, focus */
.site-nav .link:hover,
.site-nav .link:focus,
.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

/* ===== ===== Класс для оформления Hero-секции ===== ===== */

.hero {
  background-color: var(--hero-bg-color);
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* Универсальный класс для определения padding-top и padding bottom  */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 1px dotted darkblue; */
}

.section.no-padding {
  padding-bottom: 0;
}

/* Класс для оформления заголовков разделов */
.section-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* ===== ===== Классы для оформления раздела Особенности ===== ===== */
.features {
  display: flex;
  --container-items: 4;
}

.features .item {
  flex-basis: calc(var(--container-width) / var(--container-items) - var(--container-gutter));
  margin-right: var(--container-gutter);
}

.features .item:last-child {
  margin-right: 0;
}

.features-logo {
  width: 270px;
  height: 120px;
  background-color: var(--team-section-bg-color);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features .title {
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

/* ===== ===== Классы для оформления секции "Чем мы занимаемся" ===== ===== */

.about {
  display: flex;
  --container-items: 3;
}

.about .item {
  flex-basis: calc(var(--container-width) / var(--container-items) - var(--container-gutter));
  margin-right: var(--container-gutter);
  position: relative;
}

.about .item:last-child {
  margin-right: 0;
}

.about .item-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--primary-bg-color);
  /* color: grey; */
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ===== ===== Классы для оформления секции "Наша команда" ===== ===== */

.section.special {
  background-color: var(--team-section-bg-color);
  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
}

.employee {
  display: flex;
  --container-items: 4;
  gap: 30px;
  /* outline: 1px dotted darkblue; */
}

.employee > .item {
  flex-basis: calc(var(--container-width) / var(--container-items) - var(--container-gutter));
  /* margin-right: var(--container-gutter); */
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  /* outline: 1px solid darkgreen; */
}

.employee .card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.employee .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.employee .position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  --container-items: 4;
  gap: 10px;
  margin-left: 32px;
  margin-right: 32px;
}

.social-links .item {
  /* display: block; */
  width: 44px;
  height: 44px;
  /* padding: 12px; */
  /* border-radius: 50%; */
  /* border: 1px dotted grey; */
}

.social-links .link {
  width: 100%;
  height: 100%;
  /* padding: 12px; */
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  /* border: 1px dotted grey; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .icon {
  width: 20px;
  height: 20px;
  fill: currentcolor;
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

/* ========== Классы для оформления секции Постоянные клиенты ========== */

.clients {
  display: flex;
  --container-items: 6;
  gap: 30px;
}

.clients .item {
  flex-basis: calc(var(--container-width) / var(--container-items) - var(--container-gutter));
}

.client-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--icon-main-color);
  background-color: var(--primary-bg-color);
  color: var(--icon-main-color);
  display: flex;
  padding: 16px 32px;
  align-items: center;
  justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentcolor;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* ===== ===== Классы для оформления информации о проектах ===== ===== */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  --container-items: 3;
}

.projects > .item {
  flex-basis: calc(var(--container-width) / var(--container-items) - var(--container-gutter));
  /* overflow: hidden; */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .item:hover .item-text {
  transform: translateY(0%);
}

.projects .item-top {
  position: relative;
  overflow: hidden;
}

.projects .item-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--primary-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .item-bottom {
  border: 1px solid var(--project-item-border-color);
  border-top: 1px solid transparent;
}

.projects .card {
  padding: 20px 24px;
}

.projects .title {
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects .category {
  font-size: 16px;
  line-height: 1.87;
}

/* ===== ===== Классы для оформления кнопок ===== ===== */
.portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio > .item:not(:last-child) {
  margin-right: 8px;
}

.button {
  display: inline-block; /* возможно что это лишнее */
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  border-style: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter-button {
  display: inline-block; /* возможно что это лишнее */
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  border-style: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button.primary {
  color: var(--primary-button-text-color);
  background-color: var(--primary-button-bg-color);
}

.button.primary {
  color: var(--primary-button-text-color);
  background-color: var(--primary-button-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  background-color: #188ce8;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-button-text-color);
  background-color: var(--primary-button-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ===== ===== Классы для оформления модального окна ===== ===== */

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  padding: 40px;
  /* text-align: center; */

  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop .button {
  padding: 0px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: var(--accent-color);
}

.close-btn-icon {
  fill: black;
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;

  margin-bottom: 12px;
  text-align: center;
}

.form-field {
  margin-bottom: 10px;

  /* outline: 1px dotted grey; */
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .form-field:hover .form-icon, */
.form-field:focus-within .form-icon {
  fill: var(--accent-color);
}

/* .form-input:hover, */
.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-label {
  color: var(--main-text-color);
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.form-icon {
  height: 18px;
  width: 18px;
  fill: var(--title-text-color);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 12px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  /* display: block; */
  color: rgba(117, 117, 117, 0.5);
  height: 40px;
  width: 100%;
  padding: 12px 12px 12px 42px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  /* border: 1px solid rgba(33, 33, 33, 0.2); */
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input {
  margin-top: 4px;
  height: 138px;
  width: 100%;
  padding: 12px 16px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.comment-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
}

.form-agreement {
  margin-top: 20px;
  margin-bottom: 30px;

  /* outline: 1px dotted grey; */
}

.check-text {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 1px;
  margin-right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.input-icon-check {
  fill: var(--primary-bg-color);
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.form-link {
  color: var(--accent-color);
}

.form-button {
  display: block;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ===== ===== The end! ===== ===== */
